/* HOME */
.hProfileDropDown
{
	background-color:#fff;
}
.hProfileDropDown:active
{
	background-color:#1CBBB6;
	
}

/* PUBLİC*/

.myProgressBar{
	color:#000;
}

/* REGISTER */
.inputFormMargin
{
	margin-bottom:5px;
}

.formSetting-adon
{
	width: 200px;
}
.formSetting
{
width: 100%;}